@model MoonView.Models.Plot
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PrintAllotment</title>
    <style>
        table, th, td {
            font-size: medium;
            /*border: 1px solid black;*/
            border-collapse: collapse;
        }

        th, td {
            font-size: medium;
            padding: 5px;
        }

    </style>

</head>
<body>
    <div style="border:3px solid #199c57;padding-left:10px;padding-right:10px;">
        <table style="border: 0px none black;">
            <tr style="border: 0px none black;">
                <td style="border: 0px none black;">
                    <img src="~/assets/img/moonview.jpeg" height="140" width="123" />
                </td>
                <td style="border: 0px none black;"></td>

                <td style="border: 0px none black;">
                    <h1 style="color:#199c57">MoonView Infratech Pvt. Ltd</h1>
                    @*<h5 style="text-align:right">CIN NO.:U70109UP2020PTC130408</h5>*@
                </td>
            </tr>

        </table>
        <br />
        
        <table style="width:100%;background:#199c57;color:white;">
            <tr>
                <td style="text-align:center">
                    Customer Copy
                </td>
            </tr>
        </table>
        <br />
       
        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="border: 1px solid black;"><b>Booking For:    </b>@ViewBag.SiteName</td>
                <td colspan="2" style="border: 1px solid black;"><b>Date :    </b>@ViewBag.PaymentDate</td>
                <td style="border: 1px solid black;"><b>Receipt No.    </b>@ViewBag.ReceiptNo</td>
            </tr>
        </table>
        <br />
        <table style="width: 100%;" class="table table-striped">

            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>Customer Id:    </b>@ViewBag.CustomerID</td>
                <td style="border: 1px solid black;"><b>Mobile No.</b>@ViewBag.customerMobile</td>
            </tr>
            <tr><td style="border: 1px solid black;" colspan="3"><b>Received with thanks from:    </b>@ViewBag.CustomerName</td></tr>
            <tr>
                <td colspan="3" style="border: 1px solid black;"><b>Address:    </b>@ViewBag.Address</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;"><b>State:    </b>@ViewBag.State</td>
                <td style="border: 1px solid black;"><b>City:    </b>@ViewBag.City</td>
                <td style="border: 1px solid black;"><b>Pin Code:    </b>@ViewBag.Pin</td>
            </tr>
        </table>
        <br />
        <table style="width: 100%;" class="table table-striped">
            <tr>

                <td style="border: 1px solid black;" colspan="2"><b> Site:    </b>@ViewBag.SiteName</td>
                <td style="border: 1px solid black;"><b>Sector:    </b>@ViewBag.SectorName</td>
                <td style="border: 1px solid black;"><b>Block:    </b>@ViewBag.BlockName</td>
                <td style="border: 1px solid black;"><b> Plot No:    </b>@ViewBag.PlotNo</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>Plot/Row House Amount:     </b>@ViewBag.NetPlotAmount /-</td>
                <td style="border: 1px solid black;" colspan="3"><b>In Words:     </b>@ViewBag.NetPlotAmountInWords</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>A sum of:     </b>@ViewBag.PaidAmount /-</td>
                <td style="border: 1px solid black;" colspan="3"><b>In Words:     </b>@ViewBag.AmountInWords</td>
            </tr>
            <tr>
                @if (ViewBag.PaymentMode == "Cash")
                {
                    <td style="border: 1px solid black;" colspan="5"><b> Via:    </b>@ViewBag.PaymentMode</td>
                }
                else
                {
                    if (ViewBag.PaymentMode == "Cheque")
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> ChequeNo:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> ChequeDate:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                    else if (ViewBag.PaymentMode == "NEFT")
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> NEFTNo:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> NEFTDate:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                   else if (ViewBag.PaymentMode == "DD")
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> DD No:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> DD Date:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                    else
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> Transdaction No:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> Transdaction Date:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                }

                
            </tr>


            <tr>
                <td style="border: 1px solid black;"><b>Area:    </b>@ViewBag.PlotArea</td>
                <td style="border: 1px solid black;"><b>PLC:    </b>@ViewBag.PLC</td>
                <td style="border: 1px solid black;"><b>PLC Amount:    </b>@ViewBag.PLCAmount</td>
                <td style="border: 1px solid black;" colspan="2"><b>Payment For:    </b>@ViewBag.ReasonOfPayment</td>
            </tr>

        </table>

        <br />
        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="border: 1px solid black;"><b>Affiliate Id:    </b>@ViewBag.AssociateID  </td>
                <td style="border: 1px solid black;"><b>Affiliate Name:    </b>@ViewBag.AssociateName</td>
                <td style="border: 1px solid black;"><b>Mobile No.     </b>@ViewBag.Contact</td>
            </tr>
        </table>
        <br />
        <br />


        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="text-align:left;" colspan="2"><b>  Note :-   </b></td>

            </tr>
            <tr>
                <td style="text-align:left;" colspan="2">1.Booking will be valid only for One months.</td>

            </tr>
            <tr>
                <td style="text-align:left;" colspan="2">2.Booking receipt will be valid only till Registry.</td>

            </tr>
            <tr>
                <td style="text-align:left;" colspan="2"> 3.Possession will be given after Registry.</td>

            </tr>
            <tr>
                <td style="text-align:left;"> 4.Receipt valid subject to realisation of cheque, $Cash, $NEFT, RTGS</td>
                <td style="text-align:right;margin-right:100px;"><b style="margin-right: 40px;">Director Sign    </b></td>
            </tr>
        </table>

        <br />

        <table style="width: 100%;text-align:center">
            <tr>
                
                @*<td><b>Contact no-</b>@ViewBag.ContactNo</td>*@
            </tr>
            <tr>
                <td>
                    <b>Website:</b>   @ViewBag.Website

                </td>
                <td><b>Email : </b>@ViewBag.EmailID</td>
            </tr>
        </table>
        <br />
       
        <br />
        <br />

    </div>


    @*<p style="page-break-after: always;">&nbsp;</p>

    <div style="border:3px solid #199c57;padding-left:10px;padding-right:10px;">
        <table style="border: 0px none black;">
            <tr style="border: 0px none black;">
                <td style="border: 0px none black;">
                    <img src="~/assets/img/MoonView.png" height="140" width="123" />
                </td>
                <td style="border: 0px none black;"></td>

                <td style="border: 0px none black;">
                    <h1 style="color:#199c57">MoonView Infratech Pvt. Ltd</h1>
                    <h5 style="text-align:right">CIN NO.:U70109UP2020PTC130408</h5>
                </td>
            </tr>

        </table>
        <br />
        <br />
        <table style="width:100%;background:#199c57;color:white;">
            <tr>
                <td style="text-align:center">
                    Office Copy
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="border: 1px solid black;"><b>Booking For:    </b>@ViewBag.SiteName</td>
                <td colspan="2" style="border: 1px solid black;"><b>Date :    </b>@DateTime.Now.ToString("dd/MM/yyyy")</td>
                <td style="border: 1px solid black;"><b>Receipt No.    </b>@ViewBag.ReceiptNo</td>
            </tr>
        </table>
        <br />
        <table style="width: 100%;" class="table table-striped">

            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>Customer Id:    </b>@ViewBag.CustomerID</td>
                <td style="border: 1px solid black;"><b>Mobile No.</b>@ViewBag.customerMobile</td>
            </tr>
            <tr><td style="border: 1px solid black;" colspan="3"><b>Received with thanks from:    </b>@ViewBag.CustomerName</td></tr>
            <tr>
                <td colspan="3" style="border: 1px solid black;"><b>Address:    </b>@ViewBag.Address</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;"><b>State:    </b>@ViewBag.State</td>
                <td style="border: 1px solid black;"><b>City:    </b>@ViewBag.City</td>
                <td style="border: 1px solid black;"><b>Pin Code:    </b>@ViewBag.Pin</td>
            </tr>
        </table>
        <br />
        <table style="width: 100%;" class="table table-striped">
            <tr>

                <td style="border: 1px solid black;" colspan="2"><b> Site:    </b>@ViewBag.SiteName</td>
                <td style="border: 1px solid black;"><b>Sector:    </b>@ViewBag.SectorName</td>
                <td style="border: 1px solid black;"><b>Block:    </b>@ViewBag.BlockName</td>
                <td style="border: 1px solid black;"><b> Plot No:    </b>@ViewBag.PlotNo</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>Plot/Row House Amount:     </b>@ViewBag.NetPlotAmount /-</td>
                <td style="border: 1px solid black;" colspan="3"><b>In Words:     </b>@ViewBag.NetPlotAmountInWords</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" colspan="2"><b>A sum of:     </b>@ViewBag.PaidAmount /-</td>
                <td style="border: 1px solid black;" colspan="3"><b>In Words:     </b>@ViewBag.AmountInWords</td>
            </tr>
            <tr>
                @if (ViewBag.PaymentMode == "Cash")
                {
                    <td style="border: 1px solid black;" colspan="5"><b> Via:    </b>@ViewBag.PaymentMode</td>
                }
                else
                {
                    if (ViewBag.PaymentMode == "Cheque")
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> ChequeNo:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> ChequeDate:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                    else if (ViewBag.PaymentMode == "NEFT")
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> NEFTNo:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> NEFTDate:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                    else if (ViewBag.PaymentMode == "DD")
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> DD No:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> DD Date:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                    else
                    {
                        <td style="border: 1px solid black;"><b> Via:    </b>@ViewBag.PaymentMode</td>
                        <td style="border: 1px solid black;"><b> Transdaction No:    </b>@ViewBag.TransactionNo</td>
                        <td style="border: 1px solid black;"><b> Transdaction Date:    </b>@ViewBag.TransactionDate</td>
                        <td style="border: 1px solid black;"><b> BankName:    </b>@ViewBag.BankName</td>
                        <td style="border: 1px solid black;"><b> BankBranch:    </b>@ViewBag.BankBranch</td>
                    }
                }


            </tr>


            <tr>
                <td style="border: 1px solid black;"><b>Area:    </b>@ViewBag.PlotArea</td>
                <td style="border: 1px solid black;"><b>PLC:    </b>@ViewBag.PLC</td>
                <td style="border: 1px solid black;" colspan="3"><b>Payment For:    </b>@ViewBag.ReasonOfPayment</td>
            </tr>

        </table>

        <br />
        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="border: 1px solid black;"><b>Affiliate Id:    </b>@ViewBag.AssociateID  </td>
                <td style="border: 1px solid black;"><b>Affiliate Name:    </b>@ViewBag.AssociateName</td>
                <td style="border: 1px solid black;"><b>Mobile No.     </b>@ViewBag.Contact</td>
            </tr>
        </table>
        <br />
        <br />


        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="text-align:left;" colspan="2"><b>  Note :-   </b></td>

            </tr>
            <tr>
                <td style="text-align:left;" colspan="2">1.Booking will be valid only for three months.</td>

            </tr>
            <tr>
                <td style="text-align:left;" colspan="2">2.Booking receipt will be valid only till Registry.</td>

            </tr>
            <tr>
                <td style="text-align:left;" colspan="2"> 3.Possession will be given after Registry.</td>

            </tr>
            <tr>
                <td style="text-align:left;"> 4.Receipt valid subject to realisation of cheque.</td>
                <td style="text-align:right;margin-right:100px;"><b style="margin-right: 40px;">Director Sign    </b></td>
            </tr>
        </table>

        <br />

        <table style="width: 100%;text-align:center">
            <tr>
                <td>

                    <b>LandLine no-</b>@ViewBag.LandLine

                </td>
                <td><b>Contact no-</b>@ViewBag.ContactNo</td>
            </tr>
            <tr>
                <td>
                    <b>Website:</b>   @ViewBag.Website

                </td>
                <td><b>Email : </b>@ViewBag.EmailID</td>
            </tr>
        </table>
        <br />
        <table style="width:100%;background:#199c57;color:white;">
            <tr>
                <td style="text-align:center">
                    @ViewBag.CompanyAddress
                </td>
            </tr>
        </table>
        <br />
        <br />

    </div>*@
</body>
</html>
