@model MoonView.Models.AssociateBooking

@{
    ViewBag.Title = "KYCDocuments";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

@using (Html.BeginForm("KYCDocuments", "AssociateDashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">Upload KYC Documents</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <span style="color: red">@TempData["DocumentUpload"]</span>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body">
                                                @Html.HiddenFor(m => m.Status)
                                                @if(Model.AdharStatus== "Status : Approved" || Model.AdharStatus == "Status : Pending")
                                                {
                                                <label>Adhar Number</label>
                                                @Html.TextBoxFor(m => m.AdharNumber, new { @class = "form-control", @onkeypress = "return isNumberKey(event);", @maxlength = "12", @minlength = "12" ,@readonly= "readonly" })
                                                @Html.DisplayFor(m => m.AdharStatus, new { @class = "form-control" })
                                                <br />
                                                <br />

                                                <br />
                                                <img src="@Url.Content(Model.AdharImage)" height="120" width="180" />
                                                <br />
                                                }
                                                else
                                                {
                                                <label>Adhar Number <span style="color: red">*</span></label>
                                                @Html.TextBoxFor(m => m.AdharNumber, new { @class = "form-control", @onkeypress = "return isNumberKey(event);", @maxlength = "12", @minlength = "12" })
                                                @Html.DisplayFor(m => m.AdharStatus, new { @class = "form-control" })
                                                <br />
                                                <br />
                                                <input type="file" value="@Model.AdharImage" id="btnUpdateAdhar" name="AdharFile" />
                                                <br />
                                                <img src="@Url.Content(Model.AdharImage)" height="120" width="180" />
                                                <br />
                                                @*<input type="submit" id="btnUpdateAdhar" class="btn btn-success pull-left" name="btnUpdateAdhar" value="Update Adhar"   />*@
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="card-body">
                                                @if (Model.PanStatus == "Status : Approved" || Model.PanStatus == "Status : Pending")
                                               {
                                                <label>Pan Number </label>
                                                @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", @onclick = "return isNumberOrDecimal(event);", @maxlength = "12", @minlength = "12", @readonly = "readonly" })
                                                @Html.DisplayFor(m => m.PanStatus, new { @class = "form-control" })
                                                <br />
                                                <br />

                                                <br />
                                                <img src="@Url.Content(Model.PanImage)" height="120" width="180" />
                                                <br />
                                               }
                                               else
                                               {
                                                <label>Pan Number <span style="color: red">*</span></label>
                                                @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", @minlength = "10" })
                                                @Html.DisplayFor(m => m.PanStatus, new { @class = "form-control" })
                                                <br />
                                                <br />
                                                <input type="file" value="@Model.PanImage" id="btnUpdatePan" name="PanFile" />
                                                <br />
                                                <img src="@Url.Content(Model.PanImage)" height="120" width="180" />
                                                <br />
                                                @*<input type="submit" id="btnUpdatePan" class="btn btn-success pull-left" name="btnUpdatePan" value="Update Pan" />*@
                                               }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                @if (Model.DocumentStatus == "Status : Approved" || Model.DocumentStatus == "Status : Pending")
                                                {
                                                    <div class="row">
                                                        <div class="col-m-4">
                                                            <label>Account Number </label>
                                                            @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control", @onkeypress = "return isNumberKey(event);", @maxlength = "12", @minlength = "12", @readonly = "readonly" })
                                                            @Html.DisplayFor(m => m.DocumentStatus, new { @class = "form-control" })
                                                        </div>
                                                        <div class="col-m-4">
                                                            <label>IFSC Code</label>
                                                            @Html.TextBoxFor(m => m.IFSCCode, new { @class = "form-control", @readonly = "readonly" })
                                                      
                                                        </div>
                                                        <div class="col-m-4">
                                                            <label>Account Holder Name </label>
                                                            @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control", @readonly = "readonly" })
                                                  
                                                        </div>
                                                    </div>

                                                    <br />
                                                    <br />

                                                    <br />
                                                    <img src="@Url.Content(Model.DocumentImage)" height="120" width="180" />
                                                    <br />

                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Account Number  <span style="color: red">*</span></label>
                                                            @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control", @onkeypress = "return isNumberKey(event);" })
                                                            @Html.DisplayFor(m => m.DocumentStatus, new { @class = "form-control" })
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>IFSC Code  <span style="color: red">*</span></label>
                                                            @Html.TextBoxFor(m => m.IFSCCode, new { @class = "form-control"})
                                                      
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Account Holder Name<span style="color: red">*</span></label>
                                                            @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control"})
                                                      
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <input type="file" value="@Model.DocumentImage" id="btnUpdateDoc" name="DocumentFile" />
                                                    <br />
                                                    <img src="@Url.Content(Model.DocumentImage)" height="120" width="180" />
                                                    <br />
                                                    @*<input type="submit" id="btnUpdateDoc" class="btn btn-success pull-left" name="btnUpdateDoc" value="Update Document"  />*@

                                                }
                                            </div>
                                        </div>
                                        <div>
                                            <input type="submit" style="display:none; margin-bottom:10px" id="uploaddoc" class="btn btn-success pull-left" name="btnUpdateAdhar" value="Update" onclick="return validateform();" />
                                        </div>
                                    </div>

                                    @*<div class="col-md-4">
                                            <input type="submit" id="btnUpdate" class="btn btn-success pull-left" name="btnUpdate" value="Update" onclick="return validateform();" />
                                        </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        var pan = $('#Status').val();
        if (pan == "Status : Approved" || pan == "Status : Pending") {
            $('#uploaddoc').hide()
        } else {
            $('#uploaddoc').show()
        }
    });
</script>

<script>
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#AdharNumber').val() == '') {
            $("#AdharNumber").addClass('errortext');
            $('#AdharNumber').focus();
            return false;
        }
        if ($('#btnUpdateAdhar').val() == "") {
            $("#btnUpdateAdhar").addClass('errortext');
            $('#btnUpdateAdhar').focus();
            alert('Please upload Aadhar Image');
            return false;
        }
        if ($('#PanNumber').val() == '') {
            $("#PanNumber").addClass('errortext');
            $('#PanNumber').focus();
            return false;
        }
        if ($('#btnUpdatePan').val() == "") {
            $("#btnUpdatePan").addClass('errortext');
            $('#btnUpdatePan').focus();

            alert('Please upload Pan Image');
            return false;
        }
        if ($('#DocumentNumber').val() == "") {
            $("#DocumentNumber").addClass('errortext');
            $('#DocumentNumber').focus();
            return false;
        }
        if ($('#IFSCCode').val() == "") {
            $("#IFSCCode").addClass('errortext');
            $('#IFSCCode').focus();
            return false;
        }
        if ($('#AccountHolderName').val() == "") {
            $("#AccountHolderName").addClass('errortext');
            $('#AccountHolderName').focus();
            return false;
        }

        if ($('#btnUpdateDoc').val() == '') {
            $("#btnUpdateDoc").addClass('errortext');
            $('#btnUpdateDoc').focus();
            alert('Please upload Account Details Image');
            return false;
        }
        return true;
    }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

